 <!--organisateur-->
 <div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Exetat</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Exetat</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'exetats_add' %}">Enregistrer</a></li>
                    <li><a href="{% url 'exetats_index' %}">Afficher</a></li>
                </ul>
            </li>
            <li>
                <a href="{% url 'user_logout' %}" aria-expanded="false">
                    <i class="icon-badge menu-icon"></i><span class="nav-text">Se deconnecter</span>
                </a>
            </li>
            <!---<li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Commune</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Enregistrer</a></li>
                    <li><a href="#">Afficher</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Zone</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Enregistrer</a></li>
                    <li><a href="#">Afficher</a></li>
                </ul>
            </li>
            <li class="nav-label">cours et section</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Cours</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Enregistrer</a></li>
                    <li><a href="#">Afficher</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Section</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Enregistrer</a></li>
                    <li><a href="#">Afficher</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Cours_Section</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Enregistrer</a></li>
                    <li><a href="#">Afficher</a></li>
                </ul>
            </li>
            <li class="nav-label">Utilisateurs</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Utilisateur</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#">Enregistrer</a></li>
                    <li><a href="#">Afficher</a></li>
                </ul>
            </li>-->
        </ul>
    </div>
</div>