{% extends 'app/organisateur/layouts/default.html' %} {% block content %}
<!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

          <div class="row page-titles mx-0">
              <div class="col p-md-0">
                  <ol class="breadcrumb">
                      <div></div>
                  </ol>
              </div>
          </div>
          <!-- row -->

          <div class="container-fluid">
              <div class="row">
                  <div class="col-12">
                      <div class="card">
                          <div class="card-body">
                              <h2 class="card-title">Editions</h2>
                              <div class="card-header py-3">
                                <a href="{% url 'exetats_add' %}" class="btn btn-primary"
                                  >Nouvelle edition</a
                                >
                              </div>
                               {% comment %} {% if messages %}
                               {% for message in messages %} 
                               <p class="alert alert-success w-100 h-100">{{ message }} </p>
                               {% endfor %}
                               {% endif %} {% endcomment %}

                               {% if messages %}
                               {% for message in messages %} 
                              <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <i class="fas fa-alert mr-1"></i>{{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              {% endfor %}
                              {% endif %}
                              <div class="table-responsive">
                                  <table class="table table-striped table-bordered zero-configuration">
                                      <thead>
                                        <tr>
                                          <th>#</th>
                                          <th>Section_cours</th>
                                          <th>Edition</th>
                                          <th>MODIFIER</th>
                                          <th>SUPPRIMER</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for exetat in exetats %}
                                        <tr>
                                          <td>{{ forloop.counter }}</td>
                                          <td>{{ exetat.section_cours }}</td>
                                          <td>{{ exetat.edition }}</td>
                                          <td>
                                            <a
                                              href="{% url 'exetats_edit' exetat.id %}"
                                              class="btn btn-primary"
                                              >Modifier</a
                                            >
                                            </td>
                            
                                            <td>
                                            <form
                                              action="{% url 'exetats_delete' exetat.id %}"
                                              method="post"
                                            >
                                              {% csrf_token %}
                                              <button
                                                type="submit"
                                                onclick="return confirm('Voulez vous vraiment supprimer cette zone ?')"
                                                class="btn btn-danger"
                                              >
                                                Supprimer
                                              </button>
                                            </form>
                                          </td>
                                        </tr>
                                        {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- #/ container -->
      </div>
      <!--**********************************
          Content body end
      ***********************************-->
{% endblock %}