<div class="nk-sidebar">           
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label">Rendez_vous</li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i"></i><span class="nav-text">Rendez_vous</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="#"></a></li>
                    <li><a href="{% url 'demandes_index' %}">Afficher</a></li>
                </ul>
            </li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Rapport</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="{% url 'report_filter_demande' %}">Demande</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>